.opName {
	padding-left : 5px;
	font-size : 1.5em;
	border : 1px solid grey;
	background-color : #2980B9;
	color : white;
}

.op_ {
	border : 1px solid lightsteelblue;
	padding : 5px 5px;
}

.opProto {
	padding-top : 2px;
	font-style : italic;
}

.opCtx {
	font-weight : bold;
	margin : 5px 0px;
}

.opCtx_ {
	border-radius : 5px;
	padding : 2px 2px;
	margin : 5px 0px;
}

.opReturn {
	font-weight : bold;
	margin : 5px 0px;
}

.opReturn_ {
	padding : 2px 2px;
	margin : 5px 0px;
}

.params {
	font-weight : bold;
	margin : 5px 0px;
}

.params_ {
	margin : 0x 5x;
}

.param {
	padding : 2px 2px;
}

.comments_ {
	background-color : #f0f0f0;
	padding : 2px 2px;
	margin : 5px 0px;
}