<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>





   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated base -->
      <package
            uri="http://omg.sacm/2.0/base"
            class="base.Base_Package"
            genModel="model/sacm/base.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated argumentation -->
      <package
            uri="http://omg.sacm/2.0/argumentation"
            class="argumentation.Argumentation_Package"
            genModel="model/sacm/argumentation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated artifact -->
      <package
            uri="http://omg.sacm/2.0/artifact"
            class="artifact.Artifact_Package"
            genModel="model/sacm/artifact.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated terminology -->
      <package
            uri="http://omg.sacm/2.0/terminology"
            class="terminology.Terminology_Package"
            genModel="model/sacm/terminology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated assurancecase -->
      <package
            uri="http://omg.sacm/2.0/assurancecase"
            class="assuranceCase.AssuranceCase_Package"
            genModel="model/sacm/assurancecase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated odeBase -->
      <package
            uri="http://www.deis-project.eu/ode/base"
            class="odeBase.OdeBasePackage"
            genModel="model/resourcePackage/odeBase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated integration -->
      <package
            uri="http://www.deis-project.eu/ode/integration"
            class="integration.Integration_Package"
            genModel="model/resourcePackage/integration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated failureLogic -->
      <package
            uri="http://www.deis-project.eu/ode/failureLogic"
            class="failureLogic.FailureLogic_Package"
            genModel="model/resourcePackage/failureLogic.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dependability -->
      <package
            uri="http://www.deis-project.eu/ode/dependability"
            class="dependability.Dependability_Package"
            genModel="model/resourcePackage/dependability.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated architecture -->
      <package
            uri="http://www.deis-project.eu/ode/architecture"
            class="architecture.Architecture_Package"
            genModel="model/resourcePackage/architecture.genmodel"/>
   </extension>

</plugin>
